.grid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: 
    "toolbar toolbar"
    "menu content";
    height: 100vh;
    gap: 10px ;
}

.toolbar{
    grid-area: toolbar;
}

.menu{
    grid-area: menu;
}

.content{
    grid-area: content;
}